body {
	font-family: 'Lato', sans-serif;
}
h1 {
	font-weight: bold;
}
a, a:hover {
	color: #06c;
}
#navbar {
	margin-bottom: 50px;
}

#navbar a {
	padding: 0;
}
.navbar-nav hr {
	background-color: #fff;
}
.navbar-nav {
	padding-bottom: 10px;
}
.container {
	margin-top: 20px;
}
.row {
	display: flex;
}
.row div {
	background-color: #fbfbfd;
	padding: 5px 15px 15px;
	margin-bottom: 5px;
	height: 100%;
} 
.row a {
	bottom: 0;
}
#chicken, #beef, #sushi {
	padding: 10px;
}