* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.row {
	width: 100%;
	padding: 5px;
}

h1 {
	text-align: center;
	font-family: avenir;
	font-size: 1.75em;
	margin-top: 20px;
}

#container1, #container2, #container3 {
	position: static;
	float: left;
}

article {
	position: relative;
	background-color: #fff;
	border: 1px solid black;
	margin: 12px;
}

p {
	padding: 10px;
	margin-top: 40px;
	clear: right;
	font-family: avenir;
}

h2 {
	width: 150px;
	border: 1px solid black;
	text-align: center;
	font-family: avenir;
	font-size: 1.25em;
}

#h2a {
	background-color: #d59998;
	position: absolute;
	right: 0;
}

#h2b {
	background-color: #c14543;
	position: absolute;
	right: 0;
}

#h2c {
	background-color: #e4d198;
	position: absolute;
	right: 0;
}


@media (min-width: 992px) {
  #container1 {
  	width: 33.33%;
  }
  #container2 {
  	width: 33.33%;
  }
  #container3 {
  	width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #container1 {
  	width: 50%;
  }
  #container2 {
  	width: 50%;
  }
  #container3 {
  	width: 100%;
  }
}